<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198524574376-j2vsd571t11vkqjqd9l64qcgru7mvuiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198524574376-j2vsd571t11vkqjqd9l64qcgru7mvuiq</string>
	<key>API_KEY</key>
	<string>AIzaSyCKeb8At_lVTXOdq_Jyj_scX6ktoGmpkDA</string>
	<key>GCM_SENDER_ID</key>
	<string>198524574376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fuerzauy.fuerzauy</string>
	<key>PROJECT_ID</key>
	<string>fuerzauy-c7e52</string>
	<key>STORAGE_BUCKET</key>
	<string>fuerzauy-c7e52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198524574376:ios:a048a161027e16790b409d</string>
	<key>DATABASE_URL</key>
	<string>https://fuerzauy-c7e52.firebaseio.com</string>
</dict>
</plist>